<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Caprice</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="style/js/carousel.js"></script>
<script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
		 <div id="logo"><a href="index.html"><img src="style/images/ayr_logo.png" width="200px"; height="60px"; alt="AreYouReady?!" /></a></div>

	<!-- Begin Menu -->
	<div id="menu" class="menu-v">
		<ul>
			<li><a href="home.html" class="active">홈</a></li>
			<li><a href="requirement.html">졸업요건</a></li>
			<li><a href="credit2017.html">이수과목</a>
				<ul>
					<li><a href="credit2017.html">2017</a></li>
					<li><a href="credit2016.html">2016</a></li>
					<li><a href="credit2015.html">2015</a></li>
					<li><a href="credit2014.html">2014</a></li>
					<li><a href="credit2013.html">2013</a></li>
				</ul>
			</li>
			<li><a href="volunteer.html">봉사기관</a></li>
			<li><a href="book.html">추천도서</a></li>
			<li><a href="check.html">진행체크</a></li>
			<li><a href="site.html">참고사이트</a></li>
			<li><a href="bulletinBoard.html">게시판</a></li>
			<li><a href="feedback.html">피드백</a></li>
		</ul>
	</div>
    <!-- End Menu -->

		<div class="sidebox">
    <ul class="share">
    	<li><a href="#"><img src="style/images/login.png" width="80px"; height="35px"; alt="login" /></a></li>
    	<li><a href="#"><img src="style/images/logout.png" width="80px"; height="35px"; alt="logout" /></a></li>
    </ul>
    </div>

	</div>
	<!-- End Sidebar -->

	<!-- Begin Content -->
	<div id="content">
	<h1 class="title">졸업요건</h1>
	<div class="line"></div>
	<p>학교와 학과의 졸업 요건에 대해 명확하게 알려드립니다.<br/>
		이수 학점, 영어 점수, 봉사 활동, 독후감 작성에 관해 안내해드립니다.</p>
      <div class="line"></div>

      <h3>이수학점</h3>
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학교 &amp; 학과 규정</h2>
        <div class="togglebox">
          <div>
            <p>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;총 120학점 이상 이수(모두 학과 인정 과목/강좌에 한함)<br/>

							<table style="text-align: center;">
				        <tr>
				          <th style="text-align: center;"><h4><b>학번</b></h4></th>
				          <th class="center"><h4><b>전공 과목 이수 요건</b></h4></th>
				        </tr>
				        <tr>
				          <td>2013</td>
				          <td>70학점 이상(전필+전선)</td>
				        </tr>
								<tr>
				          <td>2014/15</td>
				          <td>84학점(전필)</td>
				        </tr>
								<tr>
				          <td>2016/17</td>
				          <td>68학점(전필)</td>
				        </tr>
								<tr>
				          <td>2018</td>
				          <td>전필 43학점 + 전선 36학점</td>
				        </tr>
				      </table>

							<table style="text-align: center;">
				        <tr>
				          <th style="text-align: center;"><h4><b>교양</b></h4></th>
				          <th class="center"><h4><b>교양 과목 이수 요건</b></h4></th>
				        </tr>
				        <tr>
				          <td>교양 필수</td>
				          <td>10~13학번: 16학점<br/>14~17학번: 18학점</td>
				        </tr>
								<tr>
				          <td>교양 선택</td>
				          <td>영역별 학과 지정 과목 중 선택(17학번 이후)</td>
				        </tr>
				      </table>

							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;12~16학번 중 수강한 교양 영역이 기준 요건과 다른 경우
							졸업 예정 최소 2학기 이전에 조교 혹은 4학년 주임 <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;교수님께 문의<br/><br/>
						</p>
          </div>
        </div>
      </div>
      <!-- End Toggle -->

      <br />
      <div class="line"></div>

			<h3>영어</h3>
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학교 규정</h2>
        <div class="togglebox">
          <div>
            <p><img src="style/images/site/s_e1.png" width="160px"; height="110px"; class="left" alt="" />
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;TOEIC 700점 이상<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>대체 인증: </b>학교 모의 TOEIC 및 대체 프로그램 수강/시험으로 대체 인증 가능<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 장소: </b>국제 어학원 졸업 인증처<br/><br/>
						</p>
          </div>
        </div>
      </div>
      <!-- End Toggle -->
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학과 규정</h2>
        <div class="togglebox">
          <div>
            <p><img src="style/images/grammar_book.jpg" width="160px"; height="200px"; class="left" alt="" />
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;TOEIC 700점 이상<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;지정 영어문법책 연습문제 2000개 내외 문제풀이<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Raymond Murphy, Grammar in Use Intermediate, 3rd Edition, Cambridge Univ.<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Press, 2009. [개정 2016] 영문판<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16학번 이전 학번은 Basic 버전<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 시기: </b>4학년 1학기 기말고사 기간<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 장소: </b>학과 사무실<br/><br/>
						</p>
          </div>
        </div>
      </div>
      <!-- End Toggle -->
      <br />
      <div class="line"></div>

			<h3>봉사</h3>
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학교 규정</h2>
        <div class="togglebox">
          <div>
						<p><img src="style/images/volunteer.png" width="160px"; height="140px"; class="left" alt="" />
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;사회 봉사 과목 이수(15학번 이후)<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>15학번: </b>32시간 이상 봉사<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>16학번 이후: </b>30시간 이상 봉사<br/><br/>
						</p>
					</div>
        </div>
      </div>
      <!-- End Toggle -->
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학과 규정</h2>
        <div class="togglebox">
          <div>
						<p><img src="style/images/older.png" width="200px"; height="240px"; class="left" alt="" />
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;노인 대상 봉사 10회 이상<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;전체 20시간 이상<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;노인 목욕 봉사 시 2시간 인정<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;SW 가치 확산 노인 봉사 포함<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;기초 컴퓨터 활용법<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;스마트폰 사용법 교육 등<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>인증 방법: </b>학과 양식 '봉사 활동 확인서' 제출<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 시기: </b>4학년 1학기 기말고사 기간<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 장소: </b>학과 사무실<br/><br/>
						</p>
					</div>
        </div>
      </div>
      <!-- End Toggle -->
      <br />
      <div class="line"></div>

			<h3>독후감</h3>
      <!-- Begin Toggle -->
      <div class="toggle">
        <h2 class="trigger">학과 규정</h2>
        <div class="togglebox">
          <div>
						<p><img src="style/images/book-report.jpg" width="190px"; height="240px"; class="left" alt="" />
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;독후감 40편 이상 각각에 대한 PPT(10~20 slides) 제출<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;학과 지정 도서 100권, 학교 권장 도서 100권 중 40권 이상<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>PPT 구성: </b>각 도서에 대해 다음 내용 포함<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1.도서 선정 이유 및 대학 생활에 주는 메시지<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.나의 학과 전공 공부와 향후 진로에 미친 영향<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.우리 학과 학생들에게 추천하고 싶은 이유<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4.본인이 생각하는 책의 핵심가치<br/>
									&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.본문 내용 요약 및 느낀 점<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 시기: </b>4학년 1학기 기말고사 기간<br/><br/>
							<img src="style/images/check-table.png" align="left">&nbsp;&nbsp;<b>제출 장소: </b>학과 사무실<br/><br/>
					</div>
        </div>
      </div>
      <!-- End Toggle -->
      <br/>
      <div class="line"></div>
	</div>
	<!-- End Content -->

</div>
<!-- End Wrapper -->
<div class="clear"></div>
<script type="text/javascript" src="style/js/scripts.js"></script>
<!--[if !IE]> -->
<script type="text/javascript" src="style/js/jquery.corner.js"></script>
<!-- <![endif]-->
</body>
</html>
