<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Caprice</title>
<link rel="shortcut icon" type="image/x-icon" href="style/images/favicon.png" />
<link rel="stylesheet" type="text/css" href="style.css" media="all" />
<link rel="stylesheet" type="text/css" media="screen" href="style/css/prettyPhoto.css"  />
<link href='http://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="style/css/ie7.css" media="all" />
<![endif]-->
<!--[if IE 8]>
<link rel="stylesheet" type="text/css" href="style/css/ie8.css" media="all" />
<![endif]-->
<!--[if IE 9]>
<link rel="stylesheet" type="text/css" href="style/css/ie9.css" media="all" />
<![endif]-->
<script type="text/javascript" src="style/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="style/js/ddsmoothmenu.js"></script>
<script type="text/javascript" src="style/js/jquery.jcarousel.js"></script>
<script type="text/javascript" src="style/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="style/js/carousel.js"></script>
<script type="text/javascript" src="style/js/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="style/js/jquery.masonry.min.js"></script>
<script type="text/javascript" src="style/js/jquery.slickforms.js"></script>

</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
	<!-- Begin Sidebar -->
	<div id="sidebar">
		 <div id="logo"><a href="index.html"><img src="style/images/ayr_logo.png" width="200px"; height="60px"; alt="AreYouReady?!" /></a></div>

	<!-- Begin Menu -->
	<div id="menu" class="menu-v">
		<ul>
			<li><a href="home.html" class="active">홈</a></li>
			<li><a href="requirement.html">졸업요건</a></li>
			<li><a href="credit2017.html">이수과목</a>
				<ul>
					<li><a href="credit2017.html">2017</a></li>
					<li><a href="credit2016.html">2016</a></li>
					<li><a href="credit2015.html">2015</a></li>
					<li><a href="credit2014.html">2014</a></li>
					<li><a href="credit2013.html">2013</a></li>
				</ul>
			</li>
			<li><a href="volunteer.html">봉사기관</a></li>
			<li><a href="book.html">추천도서</a></li>
			<li><a href="check.html">진행체크</a></li>
			<li><a href="site.html">참고사이트</a></li>
			<li><a href="bulletinBoard.html">게시판</a></li>
			<li><a href="feedback.html">피드백</a></li>
		</ul>
	</div>
    <!-- End Menu -->

		<div class="sidebox">
    <ul class="share">
    	<li><a href="#"><img src="style/images/login.png" width="80px"; height="35px"; alt="login" /></a></li>
    	<li><a href="#"><img src="style/images/logout.png" width="80px"; height="35px"; alt="logout" /></a></li>
    </ul>
    </div>

	</div>
	<!-- End Sidebar -->

	<!-- Begin Content -->
	<div id="content">
	<h1 class="title">봉사기관</h1>
	<div class="line"></div>
	<p>가천대 기준으로 한 시간 이내에 있는 봉사 기관에 대한 정보를 알려드립니다.<br/>
		기관의 위치와 봉사 수행 내용을 통해 봉사 활동 진행에 도움이 될 것입니다.</p>


    <!-- Begin Portfolio -->
      <div id="portfolio">
        <ul id="filtering-nav">
          <li class="show">Filter:</li>
          <li><a class="all" href="#all">ALL</a></li>
          <li><a class="30min" href="#30min">30분 이내</a></li>
          <li><a class="60min" href="#60min">30분~1시간</a></li>

        </ul>
        <div class="clear"></div>
        <div class="items">
					<!-- 30min 시작-->
          <div class="box col1 30min">
          	<div class="left-side">
          		<a href="style/images/voluntary/v30/v30_1.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_1.jpg" alt="" /></a>
          	</div>
          	<div class="right-side">
          		<h4><b>수정 중앙 노인 종합복지관</b></h4>
          		<p>나들이 시 어르신 이동 보조, 배식 봉사<br/>
								경기도 성남시 수정구 복정동 666<br/>
								031-752-3366<br/>
								<b>소요시간: </b>18분<br/>
							</p>
          		<a href="https://www.facebook.com/%EC%88%98%EC%A0%95%EC%A4%91%EC%95%99%EB%85%B8%EC%9D%B8%EC%A2%85%ED%95%A9%EB%B3%B5%EC%A7%80%EA%B4%80-252747944870236/" target="_blank" class="button blue">Website</a>
          	</div>
          </div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_2.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_2.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>스카이빌 요양원</b></h4>
							<p>어르신 이동보조<br/>
								경기도 성남시 수정구 수정로 76<br/>
								031-750-6095<br/>
								<b>소요시간: </b>12분<br/>
							</p>
							<a href="http://carefind.co.kr/detail.php?number=17791&category=" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_3.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_3.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>중원 노인 종합복지관</b></h4>
							<p>프로그램 접수, 어르신 안전관리, 배식 봉사<br/>
								경기도 성남시 중원구 성남동 3439<br/>
								031-751-7450<br/>
								<b>소요시간: </b>19분<br/>
							</p>
							<a href="http://jwnoin.org/main/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_4.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_4.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>중앙동 복지회관</b></h4>
							<p>거동불편 독거어르신 목욕서비스<br/>
								경기도 성남시 중원구 중앙동 1539<br/>
								031-747-9544<br/>
								<b>소요시간: </b>29분<br/>
							</p>
							<a href="https://ko-kr.facebook.com/jungang9544/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_5.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_5.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>성남시 아리움</b></h4>
							<p>목욕하시는 어르신(남자)에 대한 이동지원,어르신 청결지원<br/>
								경기도 성남시 중원구 광명로 46<br/>
								031-721-0723<br/>
								<b>소요시간: </b>23분<br/>
							</p>
							<a href="https://twitter.com/arium0317210723" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_6.png" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_6.png" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>태평2동 복지회관</b></h4>
							<p>준비한 도시락을 거동이 불편한 어르신 자택으로 배달<br/>
								경기도 성남시 수정구 남문로 111번길 3<br/>
								031-755-2018<br/>
								<b>소요시간: </b>23분<br/>
							</p>
							<a href="https://twitter.com/taebok2022" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 30min">
						<div class="left-side">
							<a href="style/images/voluntary/v30/v30_7.jpeg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v30/v30_7.jpeg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>성남 요양원</b></h4>
							<p>어르신 목욕 서비스 보조<br/>
								경기도 성남시 수정구 수정북로 90<br/>
								031-722-1155<br/>
								<b>소요시간: </b>17분<br/>
							</p>
							<a href="http://xn--q20bo72abjdu3avi.com/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<!-- 30min 끝-->

					<!-- 60min 시작-->
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_1.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_1.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>판교 노인 종합복지관</b></h4>
							<p>급식봉사<br/>
								경기도 성남시 분당구 판교역로 99<br/>
								031-620-2810<br/>
								<b>소요시간: </b>47분<br/>
							</p>
							<a href="http://www.pangyonoin.or.kr/main/main.html" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_2.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_2.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>황송 노인 종합복지관</b></h4>
							<p>어르신 생활모니터링, 유선안부확인 및 정보제공, 복지관이용자 내방상담<br/>
								경기 성남시 중원구 상대원동 279-7<br/>
								031-731-5520<br/>
								<b>소요시간: </b>33분<br/>
							</p>
							<a href="https://ko-kr.facebook.com/ypinetree/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_3.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_3.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>산성 종합 사회복지관</b></h4>
							<p>어르신 영어지도<br/>
								경기도 성남시 수정구 산성동 수정남로306번길 15-16<br/>
								031-746-0453<br/>
								<b>소요시간: </b>35분<br/>
							</p>
							<a href="https://mbasic.facebook.com/ssswc0453?ref=stream" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_4.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_4.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>수정 노인 종합복지관</b></h4>
							<p>경로식당 주방봉사<br/>
								경기도 성남시 수정구 산성동 2178<br/>
								031-739-2910<br/>
								<b>소요시간: </b>31분<br/>
							</p>
							<a href="http://sunobok.or.kr/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_5.JPG" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_5.JPG" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>도촌 종합 사회복지관</b></h4>
							<p>배식, 재료손질<br/>
								경기도 성남시 중원구 도촌북로 92<br/>
								031-720-8500<br/>
								<b>소요시간: </b>35분<br/>
							</p>
							<a href="http://www.hidc.or.kr/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_6.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_6.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>상대원 2동 제2복지회관</b></h4>
							<p>경로식당 음식조리보조 및 배식활동<br/>
								경기도 성남시 중원구 희망로 374<br/>
								031-748-7500<br/>
								<b>소요시간: </b>32분<br/>
							</p>
							<a href="http://www.sdw2wf.co.kr/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_7.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_7.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>송은 요양원(도촌점)</b></h4>
							<p>어르신 식사수발, 말벗, 산책도움<br/>
								경기도 성남시 중원구 도촌로8번길 11<br/>
								031-756-9544 <br/>
								<b>소요시간: </b>39분<br/>
							</p>
							<a href="http://www.sesilverville.com/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_8.gif" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_8.gif" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>성남 종합 사회복지관</b></h4>
							<p>독거 어르신 가정방문 말벗, 사랑의 도시락 배달, 포장 및 세척<br/>
								경기도 성남시 중원구 금광2동 2957<br/>
								031-698-4211<br/>
								<b>소요시간: </b>33분<br/>
							</p>
							<a href="http://www.wvsungnam.or.kr/xe/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_9.jpg" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_9.jpg" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>분당 노인 종합복지관</b></h4>
							<p>분당노인종합복지관 만족도 조사 작성 안내<br/>
								경기도 성남시 분당구 정자3동 253<br/>
								031-785-9218<br/>
								<b>소요시간: </b>49분<br/>
							</p>
							<a href="http://www.bdsenior.or.kr/main/main.php" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<div class="box col1 60min">
						<div class="left-side">
							<a href="style/images/voluntary/v60/v60_10.JPG" rel="prettyPhoto[portfolio]" title="Caption"><span class="overlay zoom"></span><img src="style/images/voluntary/v60/v60_10.JPG" alt="" /></a>
						</div>
						<div class="right-side">
							<h4><b>하얀마을 복지회관</b></h4>
							<p>경로당 활성화 사업 재능 기부 봉사<br/>
								경기도 성남시 분당구 구미동 119<br/>
								031-718-2779<br/>
								<b>소요시간: </b>43분<br/>
							</p>
							<a href="https://ko-kr.facebook.com/hayanwelfare/" target="_blank" class="button blue">Website</a>
						</div>
					</div>
					<!-- 60min 끝-->
        </div>
        <!-- .wrap -->
    </div>
    <!-- End Portfolio -->

		<br/>
		<div class="line"></div>

	</div>
	<!-- End Content -->

</div>
<!-- End Wrapper -->
<div class="clear"></div>
<script type="text/javascript" src="style/js/scripts.js"></script>
<!--[if !IE]> -->
<script type="text/javascript" src="style/js/jquery.corner.js"></script>
<!-- <![endif]-->
</body>
</html>
